* {
    font-family: 'Quattrocento', serif;
}

body {
    margin: 0
}

header {
    height: 100%;
    border-bottom: 1px solid;
    padding-bottom: 1vh;
}

#topNavigation {
    height: 13vh;
}

#logo {
    justify-self: center;
    width: 20vw;
    margin-top: -8vh;
}

#appLogo {
    position: fixed;
    width: 6vw;
    left: 1vh;
    top: 1vh
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.bio-cropper {
    border-radius: 50%;
    max-height: 40vh;
    max-width: 20vw;
    overflow: hidden;
    display: grid;
    justify-content: center;
}

#profileText {
    display: grid;
}

#profileText h1, div {
    justify-self: center;
}

#bioText {
    border: 1px solid;
    padding: 1vw;
    border-radius: 1vw;
}

#bioInput {
    display: grid
}

#bioInput input {
    min-height: 10vh
}

#profilePic {
    position: fixed;
    max-width: 6vw;
    max-height: 12vh;
    right: 1vw;
    top: 1vh;
}

#profilePic:hover {
    cursor: pointer;
}

#profile {
    display: grid;
    justify-content: center;
    position: relative;
    top: 3vh;
    z-index: -1
}

#profile img {
    max-height: 40vh;
}

#uploadPic {
    display: grid;
    grid-template-rows: auto 84% auto;
    justify-content: center;
    position: fixed;
    top: 11vh;
    left: 35vw;
    border: 2px solid grey;
    border-radius: 40px;
    padding: 3vw;
    z-index: 2;
    background-color: white;
}

#uploadPic a {
    justify-self: end;
}

#uploadPic a:hover {
    cursor: pointer
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.previewPic {
    border-radius: 10px;
    justify-self: center;
    max-height: 30vh
}

#inputlabel {
    font-size: 1.25em;
    font-weight: 700;
    display: inline-block;
}

#header {
    margin-top: 6vh;
    justify-self: center;
    font-family: 'Quattrocento', serif;
    font-size: 8vw;
    color: #004258;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.welcome {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center
}

#registerButton {
    font-family: 'Quattrocento', serif;
}

#registerButton button {
    height: 4vh;
    margin-left: 6vh;
    background-color: #00364A;
    color: white;
}

#registerButton a {
    text-decoration: none
}

#loginMember {
    font-family: 'Quattrocento', serif;
}

#loginMember button {
    height: 4vh;
    background-color: #00364A;
    color: white;
}

#loginMember a {
    text-decoration: none
}

#slogan {
    margin-top: 8vh;
    font-family: 'Quattrocento', serif;
    justify-self: center;
    font-size: 25px;
}

.input {
    background-color: #004258;
    padding: 3vh;
}

.register {
    display: flex;
    justify-content: space-evenly;
}

.register input {
    /* border-radius: 2vh; */
    height: 3vh;
    width: 11vw;
}

.register button {
    width: 8vw;
    border-radius: 8px;
}

.loginError {
    font-family: 'Quattrocento', serif;
    position: fixed;
    top: 11vh;
    right: 40%;
}

.postError {
    font-family: 'Quattrocento', serif;
    position: fixed;
    top: 11vh;
}

#login {
    justify-content: center;
}

#login input {
    margin-right: 3vw;
}

::placeholder {
    text-align: center
}